html {
    font-size: 18px;
    box-sizing: border-box;
}

:root {
    --padres-color-brown: #2F241D;
    --padres-color-gold: #FFC425;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

/*Header*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(47,36,29,1) 0%, rgba(255,196,37,1) 100%);;
}

.logo {
    width: 8rem;
}

.logo img {
    height: 3rem;
    width: 3rem;
    padding-left: 1.5rem;
}

.header-title a {
    text-decoration: none;
    color: inherit;
}

.header-title h1 {
    color: #FFF;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

nav {
    width: 8rem;
    margin-right: 1rem;
}

nav a {
    color: #2f241d;
}

/*About Section*/
.about-section h2 {
    text-align: center;
    color: var(--padres-color-brown);
}

.about-section-description {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;

}

.about-section-side {
    width: 30%;
    
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-section-center {
    max-width: 40%;
    min-width: 37.8rem;
}

.about-section-center img {
    height: 23rem;
    min-width: 37.8rem;
}


.about-text h3, .about-text p {
    max-width: 60%;
    text-align: center;
    color: var(--padres-color-brown);
    line-height: 1.6rem;
}

.about-text h3 {
    font-weight: 800;
}

.about-text p {
    font-weight: 500;
}


@media only screen and (max-width: 1700px) {
    .about-section-description {
        flex-direction: column;
    }
}


/*Registered Players Section*/

.profile-image {
    height: 10.5rem;
}




