html {
    font-size: 18px;
    box-sizing: border-box;
}

:root {
    --padres-color-brown: rgb(47, 36, 29);
    --padres-color-gold: #FFC425;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

h2 {
    color: var(--padres-color-brown);
}

.section-header {
    text-align: center;
    background-color: var(--padres-color-gold);
    border: 2px solid var(--padres-color-brown);
    border-style: solid none;
    margin: 0;
}

button:hover, select {
    cursor: pointer;
}

/*Header*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--padres-color-brown)
}

.logo {
    width: 8rem;
}

.logo img {
    height: 3rem;
    width: 3rem;
    padding-left: 1.5rem;
}

.header-title a {
    text-decoration: none;
    color: inherit;
}

.header-title h1 {
    color: white;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

nav {
    width: 8rem;
    margin-right: 1rem;
}

nav a {
    color: var(--padres-color-gold);
    font-weight: 450;
}

/*About Section*/

.about-section-header h2 {
    margin: 0;
    padding: 1rem 0;
}

.about-section-description {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
    height: 23rem;
}

.about-section-side {
    width: 30%;
    
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-section-center {
    max-width: 40%;
    min-width: 37.8rem;
}

.about-section-center img {
    height: 23rem;
    min-width: 37.8rem;
    border: 2px solid var(--padres-color-brown);
    border-style: none solid;
}


.about-text h3, .about-text p {
    max-width: 60%;
    text-align: center;
    color: var(--padres-color-brown);
    line-height: 1.6rem;
}

.about-text h3 {
    font-weight: 800;
}

.about-text p {
    font-weight: 500;
}


@media only screen and (max-width: 1700px) {
    .about-section-description {
        flex-direction: column;
        height: inherit;
    }

    .about-section-center img {
        border-style: none;
    }

    .about-section-side {
        width: 60%;
    }

}


/*Registered Players Section*/
.players-section-header {
    text-align: center;
    background-color: var(--padres-color-gold);
    border: 2px solid var(--padres-color-brown);
    border-style: solid none;
}

.players-section-header h2 {
    margin-top: 0;
    padding-top: 1rem;
}

/*Form and Button Styling*/
.players-section-header form {
    padding-bottom: 1rem;
}

.players-section-header input, .players-section-header button {
    border: 2px solid var(--padres-color-brown);
    border-radius: 5px;
    height: 1.2rem;
    font-size: .8rem;
    
}

.players-section-header input:focus {
    outline: none;
}

.players-section-header button {
    color: #FFF;
    background-color: var(--padres-color-brown);
    font-weight: 600;
    width: 5rem;
    height: 1.5rem;
}

.players-section-header button:hover {
    color: var(--padres-color-gold);
    background-color: hsla(23, 23%, 27%, 1);
    
}

.players-section-header button:active {
    color: var(--padres-color-brown);
    background-color: var(--padres-color-gold);
    
}

/*Registered players styling*/

.registered-players-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.registered-player {
    text-align: center;
    margin: 0 1.2rem;
}

.registered-player img {
    height: 10.5rem;
    border: 1px solid var(--padres-color-gold);
}

.registered-player p {
    margin-top: .2rem;
    font-size: .9rem;
}

/*Reserve Court Section*/

.court-reservation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.reservation-form-section:not(:first-of-type) {
    margin-top: .8rem;
}

.reservation-form-section input:hover {
    cursor: pointer;
}

.reservation-form-section button {
    color: #FFF;
    background-color: var(--padres-color-brown);
    font-weight: 600;
    border: 2px solid var(--padres-color-brown);
    border-radius: 5px;
    height: 1.5rem;
}

.reservation-form-section button:hover {
    color: var(--padres-color-gold);
    background-color: hsla(23, 23%, 27%, 1);
    
}

.reservation-form-section button:active {
    color: var(--padres-color-brown);
    background-color: var(--padres-color-gold);
    
}

/*Footer*/

footer {
    background-color: var(--padres-color-brown);
    margin-top: 1.5rem;
}

footer p {
    margin: 0;
    text-align: center;
    font-family: "Oswald", sans-serif;
    color: #FFF;
    padding: .5rem;
}



